.h2{
    font-style: italic;
    color: red;
    font-weight:bolder;
   
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .h3{

    font-size: 2.5rem;
    font-weight:bolder;
    color: rgb(6, 5, 5);
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }
  .brand-name{
    position: relative;
    font-size: 3rem;
    color: red;
    font-style: italic;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.image-fluid{
    border-radius: 10px;
    height:440px;
    width: 610px;
}